.contact-portal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 3.3vw;
  margin-right: 25vw;
  margin-left: 25vw;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.google-form {
  width: 100%;
  max-width: 700px;
  height: 600px;
  border: none;
  border-radius: 10px;
}
